<div class="p-fluid">
  <p-messages [value]="messages"></p-messages>

  <form class="Submit" [formGroup]="userRegistartionForm">
    <div class="field">
      <label>First name</label>
      <input
        pInputText
        type="text"
        id="fName"
        formControlName="firstName"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userRegistartionForm.get('firstName')?.invalid &&
            userRegistartionForm.get('firstName')?.touched
        }"
      />

      @if(userRegistartionForm.get('firstName')?.invalid &&
      userRegistartionForm.get('firstName')?.touched){
      <small class="p-error"> First Name is required </small>
      }
    </div>

    <div class="field">
      <label>Last name</label>
      <input
        pInputText
        type="text"
        id="lName"
        formControlName="LastName"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userRegistartionForm.get('LastName')?.invalid &&
            userRegistartionForm.get('LastName')?.touched
        }"
      />

      @if(userRegistartionForm.get('LastName')?.invalid &&
      userRegistartionForm.get('LastName')?.touched){
      <small class="p-error"> Last Name is required </small>
      }
    </div>

    <div class="field">
      <label>Date Of Birth</label>
      <p-calendar
        formControlName="dateOfBirth"
        id="dob"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userRegistartionForm.get('dateOfBirth')?.invalid &&
            userRegistartionForm.get('dateOfBirth')?.touched
        }"
      ></p-calendar>

      @if(userRegistartionForm.get('dateOfBirth')?.invalid &&
      userRegistartionForm.get('dateOfBirth')?.touched){
      <small class="p-error"> Date of Birth is required </small>
      }
    </div>

    <div class="field">
      <label>User name</label>
      <input
        pInputText
        type="text"
        id="uName"
        formControlName="userName"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userRegistartionForm.get('userName')?.invalid &&
            userRegistartionForm.get('userName')?.touched
        }"
      />

      @if(userRegistartionForm.get('userName')?.invalid &&
      userRegistartionForm.get('userName')?.touched){
      <small class="p-error"> Username is required </small>
      }
    </div>

    <div class="field">
      <label>New Password</label>
      <input
        pInputText
        type="password"
        id="uPassword"
        formControlName="userPassword"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userRegistartionForm.get('userPassword')?.invalid &&
            userRegistartionForm.get('userPassword')?.touched
        }"
      />

      @if(userRegistartionForm.get('userPassword')?.invalid &&
      userRegistartionForm.get('userPassword')?.touched){
      <small class="p-error"> Password is required </small>
      }
    </div>

    <div class="field">
      <label>Confirm Password</label>
      <input
        pInputText
        type="password"
        id="uConfirmationPassword"
        formControlName="userConfirmPassword"
        [ngClass]="{
          'ng-invalid ng-dirty':
            userRegistartionForm.get('userConfirmPassword')?.invalid &&
            userRegistartionForm.get('userConfirmPassword')?.touched
        }"
      />

      @if(userRegistartionForm.get('userConfirmPassword')?.invalid &&
      userRegistartionForm.get('userConfirmPassword')?.touched){
      <small class="p-error"> Confirm Password is required </small>
      } 
      &nbsp;
      @if(userRegistartionForm.get('userPassword')?.value !==
      userRegistartionForm.get('userConfirmPassword')?.value){
      <small class="p-error"> Paswords should be match </small>
      }
    </div>

    <button
      pButton
      label="Submit"
      class="p-mt-2 mb-2"
      style="width: 100%"
      (click)="storeUserData()"
      [disabled]="!userRegistartionForm.valid"
    ></button>

    <p-button
      label="Cancel"
      severity="danger"
      (click)="resetUserForm()"
      (onHide)="reset()"
      [disabled]="!userRegistartionForm.valid"
    />
  </form>
</div>
